# Compiled output
/dist
/out-tsc

# Dependencies
/node_modules

# Angular-specific
/.angular
.angular-cache
.angular

# IDEs and Editors
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Environment files
/src/environments/environment*.ts

# Log files
*.log

# Local NPM cache
.npm

# Temporary files
*.tmp
*.swp
*.swo

# Optional npm cache directory
/.npm

# Yarn specific
.yarn-cache
.yarn-integrity

# Project files
*.lock
package-lock.json
yarn.lock

# Build directory
/build
